.propbody {
    /* position: absolute; */
    background-color: rgb(232, 254, 255);
    background: linear-gradient(110deg, hsl(180, 78%, 79%) 2%, hsl(180, 49%, 61%) 40%);
    padding: 1%;
    text-align: left;
    align-items: left;

    margin: 30px 10% 0px 10%;
    display: block;
    align-content: left;
    border-radius: 7px;
}

.line{
    height: 1px;
    width : 100%;
    max-width : 500px;
    background-color: black;
    float: left;
    border: none;
}

.proptitle {
    /* margin-top: 20px; */
    font-weight: 500;
    font-size: 150%;
    width: fit-content;
    /* text-decoration: underline; */
}
.propsubtitle{
    font-weight: 500;
    font-size: 100%;
    width: fit-content;
        
}
.propdesc {
    padding-left: 2%;
    /* color: blue; */
}