.conlistbody{
    width: 100%;
}


.conlistwrapper{
    background-color: rgb(38, 36, 36);
    /* width :1000px; */
    min-width: 100%;
    padding: 3px;
    text-align: center;
    align-items: center;
    align-content: center;
    /* width: 100%; */
    /* width: ma; */
    border-radius: 7px;
}

.conlistrow{
    display: flex;
    
    
}

.conslot{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(255, 255, 255);
    margin: 1px;
    color: black;
    text-decoration: none;
    width: 70%;
    
}

.conslothead{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(37, 100, 71);
    margin: 1px;
    color: white;
    text-decoration: none;
    width: 70%;
}

.conslotp{
    width: 40%;
    /* color: rgb(255, 0, 0); */
}
.conslotd{

    width: 60%;

    
}
.conslotmini{

    width: 30%;

    
}
.conslotadmin{
    display: flex;
    flex-direction: column;
    width: 20%;

    
}

.conlink{
    /* background-color: rgb(141, 10, 10); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(255, 255, 255); */
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 100%;
    height: 100%;
    background: linear-gradient(220deg, #ffeb7d 5%, #fffbeb 0%, #ffebcc 100%);
    
}
.conlink:hover{
    background-color: rgb(255, 231, 160);
    background: linear-gradient(120deg, hsl(47, 100%, 90%) 10%, hsl(47, 100%, 90%) 26%, hsl(47, 100%, 81%) 90%);
    
}

.condelete{
    width: 100%;
    height: 30%;
    background-color: rgb(255, 173, 173);
    /* color: red; */
}
.condelete:hover{
    background-color: rgb(255, 121, 121);
    cursor: pointer;
    /* color: red; */
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 10%;
    background-color: rgba(0, 0, 0, 0.9);
    /* background: linear-gradient(120deg, rgba(38, 45, 36, 0.9) 10%, rgba(26, 49, 21, 0.9) 26%, rgba(9, 28, 4, 0.9) 90%); */
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    /* Position the tooltip */
    position: absolute;
    /* bottom: -30px; */
    /* left: 10px; */
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }